# Club name
NEXT_PUBLIC_CLUB_LONG_NAME='Bath Cycling Club'
NEXT_PUBLIC_CLUB_SHORT_NAME=BCC

# Hosting
NEXT_PUBLIC_REPO=https://github.com/x/repo

# External API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Auth0 (client-side SPA)
NEXT_PUBLIC_AUTH0_DOMAIN=your-tenant.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=
NEXT_PUBLIC_AUTH0_AUDIENCE=https://api.your-app.com
