# Club name
VITE_CLUB_LONG_NAME='Bath Cycling Club'
VITE_CLUB_SHORT_NAME=BCC

# Hosting
VITE_REPO=https://github.com/x/repo

# External API
VITE_API_URL=http://localhost:3001

# Auth0 (client-side SPA)
VITE_AUTH0_DOMAIN=your-tenant.auth0.com
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=https://api.your-app.com
