@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex;
    @apply min-h-screen;
    @apply m-0;
    @apply bg-base-200;
  }

  #__next {
    @apply w-screen;
  }
}

@layer components {
  html:has(.drawer-auto-gutter .drawer-toggle:checked) {
    scrollbar-gutter: auto;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Prevent copy popup after long press on iphone */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

/* SVG Icon overrides */
svg {
  @apply h-4;
  @apply w-4;
}

/* DaisyUI overrides */
.btn {
  @apply rounded;
  @apply text-base;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}

.alert {
  @apply rounded;
}

/* Markdown editor overrides */
.ql-container {
  font-family: inherit !important;
  font-size: 1rem !important;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-snow.ql-toolbar {
  display: flex;
  /* flex-direction: column; */
  background: #f5f5f5;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-picker,
.ql-snow .ql-picker-label {
  display: flex !important;
  align-items: center;
}

.ql-editor {
  min-height: 12em;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 0 !important;
}
