:root {
  --markdown-line-height: 1.6rem;
  --markdown-bottom-margin: 0.8rem;
}

#ride-notes {
  a {
    color: #24376e;
    text-decoration: underline;
  }

  p {
    line-height: var(--markdown-line-height);
    margin-bottom: var(--markdown-bottom-margin);
  }

  blockquote {
    border-left: 0.25rem solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 0.5rem 1rem;
    margin-bottom: var(--markdown-bottom-margin);

    p {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 1.4rem;
    margin-bottom: var(--markdown-bottom-margin);
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.4rem;
    margin-bottom: var(--markdown-bottom-margin);
  }
}
